.mod {
  margin-right: 100px;
}
/*logo*/
.logo {
  border-radius: 50%;
  box-shadow: 5px 10px 18px cornflowerblue;
}
/*icons*/
.fas {
  font-size: 28px;
  color: cornflowerblue;
}
/* button modal*/
.btn {
  color: darkblue;
  box-shadow: 5px 10px rgba(64, 42, 187, 0.5);
  border-radius: 8px;
  margin-left: 120px;
  border-color: darkblue;
  background-color: transparent;
}
.btn:hover {
  color: white;
  background-color: cornflowerblue;
  border-color: white;
}
/*carousel-titre*/
.active img {
  margin-top: 50px;
  height: 450px;
  position: relative;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
}

.headerSlideCaption {
  color: #fff;
  position: absolute;
  left: 160px;
  top: 200px;
}

.headerSlideCaptionTitre {
  font-size: 2.3em;
}
.titre {
  color: darkblue;
}
/*message*/
.message h1 {
  font-family: "Dancing Script", cursive;
  color: white;
  padding-left: 30px;
  padding-top: 50px;
  font-size: 50px;
}
.message h1:hover {
  font-family: "Dancing Script", cursive;

  transition-property: width;
  transition-duration: 2s;
  transition-delay: 2s;
}
.message {
  margin-top: 50px;
  width: 350px;
  height: 200px;
  background: cornflowerblue;
  transition-property: width;
  transition-duration: 1s;
  transition-delay: 1s;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 5px;
}
.message:hover {
  width: 80%;
}
/*button slider*/
.but {
  color: darkblue;
  box-shadow: 5px 10px rgba(64, 42, 187, 0.5);
  border-radius: 8px;
  margin-left: 120px;
  border-color: darkblue;
}
.but:hover {
  color: white;
  background-color: cornflowerblue;
  border-color: white;
}
/*products*/
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.card {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  margin-top: 40px;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 8px;
}
.card-text::after {
  content: " TDN";
}
/*add button card*/

.ad {
  color: darkblue;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 8px;
  border-color: darkblue;
  margin-top: 20px;
  width: 100px;
}
.ad:hover {
  color: white;
  background-color: cornflowerblue;
}
.totalQ {
  padding-left: 60px;
}
/*body cart*/
.card-title,
.card-text {
  text-align: center;
  color: darkblue;
  padding-bottom: 15px;
}

/*delet button card*/
.del {
  color: darkblue;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 8px;
  border-color: darkblue;
  margin-top: 20px;
  width: 100px;
}
.del:hover {
  color: white;
  background-color: cornflowerblue;
}
/*footer
.container-fluid {
  padding-top: 50px;
  margin-top: 50px;
  left: 0;
  bottom: 0;
  height: 300px;
  background-color: lightskyblue;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.social-media li {
  display: inline;
  list-style: none;
  font-size: 50px;
}
.social-media {
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
  padding-left: 30%;
  padding-right: 360px;
}
.row {
  margin-left: 100px;
}
.copy-right {
  padding-top: 150px;*/
}
.chariot {
  margin-left: -50px;
}
/*FOOTER*/

footer {
  background: #16222a;
  background: -webkit-linear-gradient(59deg, #3a6073, #e3f2fd);
  background: linear-gradient(59deg, #3a6073, cornflowerblue);
  color: white;
  margin-top: 100px;
  height: 400px;

}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: flex;
  margin-left: 0 !important;
  padding: 0;
  justify-content: space-between;
  
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color:transparent;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: transparent;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: white;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: transparent;
}
.social-circle li a{
    font-size: 50px;

}